<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>

    <% if (today === 'Saturday' || today === 'Sunday'){ %>
    <h1 style="color: purple">It's <%= today %>!</h1>
  <% } else { %>
    <h1 style="color: blue">It's <%= today %>!</h1>
  <% } %>
  </body>
</html>
